# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# Next.js build outputs (documentation site)
docs/.next/
docs/out/
docs/node_modules/
/dist/
cypress/screenshots/
cypress/videos/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

pnpm-lock.yaml
yarn.lock
package-lock.json
bun.lockb

# npm configuration
.npmrc
/docs/api
/docs/content/api
